.bg-image7 {

  .text1{
    padding: 2% 5%;
    height: 20%;
    margin-bottom: 2%;
  }

  .objetos{
    width: 100%;
    height: 45%;

    .objetos-bgs{
      position: absolute;
      text-align: center;
      
      img{
        width: 12%;
      }

      .bg2, .bg3, .bg4{
        margin-left: 9%;
      }
    }

    .objetos-items {

      img{
        width: 10%;
        z-index: 800;
        position: fixed;
      }

      .obj1 {
        left: 13%;
      }

      .obj2 {
        left: 34%;
      }

      .obj3 {
        left: 56%;
      }

      .obj4 {
        left: 77%;
      }
    }
    

    .objetos-audios{
      width: 100%;
      z-index: 0;

      .audio-objeto {
        background-image: url("../assets/imgs/btAudio_large.png");
        width: 5%;
        height: 10%;
        z-index: 900;
        top: 39%;
        position: fixed;
      }

      .audio-obj1 {
        left: 9%;
      }

      .audio-obj2 {
        left: 31%;
      }

      .audio-obj3 {
        left: 52%;
      }

      .audio-obj4 {
        left: 74%;
      }
    }

    .objetos-labels{
      width: 100%;
      
      .objeto-label {
        text-align: center;
        color: #912f3d;
        letter-spacing: 0.1em;
        position: fixed;
        width: 14%;
        top: 55%;
        border-bottom: 3px solid #bf3924;
        .obj-lbl{
          font-size: 1.2em;
        }
        .obj-letter {
          font-size: 1em;
          color: #bf3924;
        }
      }
      .label1 {
        left: 11%
      }
      .label2 {
        left: 32%
      }
      .label3 {
        left: 54%
      }
      .label4 {
        left: 75%
      }
    }
  }

  .mochilas{
    width: 100%;
    height: 32%;
    padding-top: 10px;
    text-align: center;

    .mochila {
      display: inline-block;
      margin: auto;
      width: 10%;
      position: absolute; 

      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      .ico-errado{
        opacity: 0.5;
        -webkit-animation: 1s blinkIcoErrado step-end infinite;
        -moz-animation: 1s blinkIcoErrado step-end infinite;
        animation: 1s blinkIcoErrado step-end infinite;
      }
    }

    .mochila1 {
      margin-left: -15%;
    }

    .mochila2 {
      margin-left: 5%;
    }
  }

  .omImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: url("../assets/imgs/mochila_objetos/om-faca.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    z-index: 1000;
    pointer-events: none;
  }

    /* Galaxy S8 */
    @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
      .objetos {
        height: 44%;
  
        .objetos-audios{
          .audio-objeto {
            height: 20%;
          }
        }
  
        .objetos-labels{
          .objeto-label{
            top: 56%;
          }
        }
      }
  
      .mochilas {
        padding-top: 0;
      }
    }
  
    /* Android and iPhone Plus */
    @media screen and (min-device-height: 360px) {
      .objetos{
        .objetos-labels{
          .objeto-label{
            width: 15%;
          }
        }
      }
    }
  
    /* Nexus 7 */
    @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
      .mochilas{
        .mochila{
          width: 12%;
        }
  
        .mochila1 {
          margin-left: -18%;
        }
    
        .mochila2 {
          margin-left: 8%;
        }
      }
  
      .back-page-button{
        width: 8%;
      }
    }
  
    /* iPad */
    @media screen and (min-device-height: 700px) {
      .text1{
        margin-bottom: 5%;
      }
  
      .objetos{
        height: 40%;
  
        .objetos-items {
          .obj1 {
            left: 12%;
          }
          .obj2 {
            left: 32%;
          }
          .obj3 {
            left: 52%;
          }
          .obj4 {
            left: 72%;
          }
        }
  
        .objetos-audios{
          .audio-objeto {
            height: 20%;
            top: 32%;
          }
  
          .audio-obj1 {
            left: 19%;
          }
          .audio-obj2 {
            left: 39%;
          }
          .audio-obj3 {
            left: 60%;
          }
          .audio-obj4 {
            left: 80%;
          }
        }
  
        .objetos-labels{
          width: 100%;
          .objeto-label {
            top: 50%;
            width: 14%;
          }
          .label1 {
            left: 10%
          }
          .label2 {
            left: 30%
          }
          .label3 {
            left: 51%
          }
          .label4 {
            left: 71%
          }
        }
      }
  
      .mochilas{
        .mochila{
          width: 12%;
        }
  
        .mochila1 {
          margin-left: -18%;
        }
    
        .mochila2 {
          margin-left: 8%;
        }
      }
    }

  @keyframes blinkIcoErrado {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @-moz-keyframes blinkIcoErrado {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes blinkIcoErrado {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}