.credits-page {

  .credits-content{
    margin: 5% 5% 5% 12%;

    p{
      margin: 0;
      color: black;
      font-size: 1.1em;

      span {
        font-size: 1em;
      }
    }

    .credits-title{
      font-weight: bold;
      color: #bf3924;
    }

    .credits-name{
      color: #bf3924;
    }

    .credits-realizacao{
      margin-top: 3%;

      /* iPad */
      @media screen and (min-device-height: 700px) {
          margin-top: 5%;
      }
    }
  }

  .back-page-button{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}