<ion-content padding class="bg-default credits-page">
    <div class="credits-content">
        <div class="credits-iniciativa">
            <p class="credits-title">Iniciativa</p>
            <p>CENPEC - Centro de Estudos e Pesquisas em Educação, Cultura e Ação Comunitária</p>
            <p>Presidente do Conselho de Administração: <span class="credits-name">Anna Helena Altenfelder</span></p>
            <p>Superintendente: <span class="credits-name">Mônica Franco</span></p>
            <p>Coordenação Técnica: <span class="credits-name">Maria Amabile Mansutti</span></p>
        </div>
        <div class="credits-realizacao">
            <p class="credits-title">Realização</p>
            <p>Coordenação Técnica do E-book: <span class="credits-name">Fred Di Giacomo e José Alves</span></p>
            <p>Assessoria Pedagógica: <span class="credits-name">Antônio Augusto Gomes Batista, Maria Alice Junqueira e Sônia Madi</span></p>
            <p>Assessoria de Conteúdo: <span class="credits-name">Gabriel Priolli</span></p>
            <p>Equipe Técnica (Núcleo Tecnologia na Educação): <span class="credits-name">Adriana Vieira e Fernanda Ribeiro</span></p>
            <p>Direção de Arte e Design: <span class="credits-name">Alexandre Nacari</span></p>
            <p>Arte: <span class="credits-name">Alisson Lima</span></p>
            <p>Sound Design: <span class="credits-name">Juliana Moreira</span></p>
            <p>Edição e Texto: <span class="credits-name">Fred Di Giacomo e José Alves</span></p>
            <p>Locução: <span class="credits-name">José Alves</span></p>
            <p>Programação e Desenvolvimento: <span class="credits-name">Pedro Cavalca Moreira</span></p>
        </div>
    </div>
    <div [style.backgroundImage]="'url(' + animaBackPageSrc + ')'" (click)="goToPreviousPage()" class="back-page-button"></div>
</ion-content>
  