<ion-content padding class="bg-default bg-image6">
    <div class="text1">
        <p>
            ARRASTE CADA OBJETO ATÉ A MOCHILA COM A LETRA QUE COMPÕE O NOME DO ITEM. A LETRA PODE ESTAR NO INÍCIO OU NO MEIO DA PALAVRA.
        </p>
    </div>
    <div class="objetos">
        <div class="objetos-bgs">
            <img class="bg1" src="assets/imgs/mochila_objetos/BG-objetos.png"/>
            <img class="bg2" src="assets/imgs/mochila_objetos/BG-objetos.png"/>
            <img class="bg3" src="assets/imgs/mochila_objetos/BG-objetos.png"/>
            <img class="bg4" src="assets/imgs/mochila_objetos/BG-objetos.png"/>
        </div>
        <div class="objetos-items" [dragula]='"bag-items"' [dragulaModel]="q1">
            <img *ngFor="let item of q1" [id]="item.id" [class]="item.class" [src]="item.src"
                (touchstart)="objClicking()">
        </div>
        <div class="objetos-audios">
            <button class="audio-objeto audio-obj1" (click)="audioItem('mapa')" *ngIf="lblObj1Show" ion-button clear></button>
            <button class="audio-objeto audio-obj2" (click)="audioItem('picareta')" *ngIf="lblObj2Show" ion-button clear></button>
            <button class="audio-objeto audio-obj3" (click)="audioItem('bota')" *ngIf="lblObj3Show" ion-button clear></button>
            <button class="audio-objeto audio-obj4" (click)="audioItem('binoculo')" *ngIf="lblObj4Show" ion-button clear></button>
        </div>
        <div class="objetos-labels">
            <div class="objeto-label label1" *ngIf="lblObj1Show">
                <span class="obj-lbl">MA<span class="obj-letter">P</span>A</span>
            </div>
            <div class="objeto-label label2" *ngIf="lblObj2Show">
                <span class="obj-lbl"><span class="obj-letter">P</span>ICARETA</span>
            </div>
            <div class="objeto-label label3" *ngIf="lblObj3Show">
                <span class="obj-lbl"><span class="obj-letter">B</span>OTA</span>
            </div>
            <div class="objeto-label label4" *ngIf="lblObj4Show">
                <span class="obj-lbl"><span class="obj-letter">B</span>INÓCULO</span>
            </div>
        </div>
    </div>
    <div class="mochilas">
        <div id="mochila1" class="mochila mochila1" [dragula]='"bag-items"' [dragulaModel]="q2">
            <img class="mochila-fundo" src="assets/imgs/mochila_objetos/mochila-fundo.png"/>
            <img *ngFor="let item of q2" [id]="item.id" class="mochila-objeto" [src]="item.src" 
                [hidden]="!item.isCorrect">
            <img class="mochila-front" src="assets/imgs/mochila_objetos/mochila-front-B.png"/>
            <img class="ico-errado" src="assets/imgs/mochila_objetos/ico-errado.png" *ngIf="mochila1Errado"/>
        </div>
        <div id="mochila2" class="mochila mochila2" [dragula]='"bag-items"' [dragulaModel]="q3">
            <img class="mochila-fundo" src="assets/imgs/mochila_objetos/mochila-fundo.png"/>
            <img *ngFor="let item of q3" [id]="item.id" class="mochila-objeto" [src]="item.src" 
                [hidden]="!item.isCorrect">
            <img class="mochila-front" src="assets/imgs/mochila_objetos/mochila-front-P.png"/>
            <img class="ico-errado" src="assets/imgs/mochila_objetos/ico-errado.png" *ngIf="mochila2Errado"/>
        </div>
    </div>
    <div class="omImage" [style.backgroundImage]="'url(' + omImageSrc + ')'"></div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div *ngIf="q1.length === 0" [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page6Reading>
        <source src="assets/audio/telas/Tela_7.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  