<ion-content padding class="bg-image9">
<!-- [style.backgroundImage]="'url(' + bgAviaoSrc + ')'" > -->
    <div class="text-box-blue">
        <p>
                AVIÃO PARA O BRASIL, URGENTE! A MAIS TRADICIONAL FESTA DE BUMBA MEU BOI, OU BOI BUMBÁ, ACONTECE NO MARANHÃO. A FESTA TEM INFLUÊNCIAS RELIGIOSAS INDÍGENAS, AFRICANAS E EUROPEIAS. E O DONO DA FESTA É O AMOR DA VIDA DESTA ROMÂNTICA VAQUINHA AVENTUREIRA. 
        </p>
    </div>
    <div [style.backgroundImage]="'url(' + animaAviaoSrc + ')'" class="anima-aviao"></div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page9Reading>
        <source src="assets/audio/telas/Tela_9.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  