.bg-image9 {
    width: 100%;
    height: 100%;
    background-image: url("../assets/imgs/cena_aviao/cena_ceu-bg.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    // animation: name duration timing-function delay iteration-count direction fill-mode play-state;
    -webkit-animation:animatedBackground 12s linear 1s 1 normal forwards;
     -moz-animation:animatedBackground 12s linear 1s 1 normal forwards;
      -ms-animation:animatedBackground 12s linear 1s 1 normal forwards;
       -o-animation:animatedBackground 12s linear 1s 1 normal forwards;
          animation:animatedBackground 12s linear 1s 1 normal forwards;

  .anima-aviao {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right 40%;
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    background-size: 50%;
  }

  .text-box-blue{
    width: 42%;
    height: 78%;
    position: absolute;
    top: 6%;
    left: 4%;
    z-index: 10;
    padding: 4% 4%;

    p{
      margin: 0;
    }
  }

  /* Galaxy S8 */
  @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
    .text-box-blue{
      width: 37%;
      padding: 4% 4%;
    }
  }

  /* Nexus 7 */
  @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
    .text-box-blue{
      top: 4%;
      padding: 7% 4%;
    }
  }

  /* iPad */
  @media screen and (min-device-height: 700px) {
    .text-box-blue{
      top: 2%;
      padding: 11% 4%;
    }
  }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@-moz-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}