.bg-image4 {
  background-image: url("../assets/imgs/cena_nepal_monte/bg_om_nepal.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

  .cena4-content{
    // background-image: url("../assets/imgs/cena_nepal_monte/animacao_om_nepal.gif");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 10;

    .text-box{
      width: 49%;
      height: 90%;
      position: absolute;
      top: 5%;
      left: 5%;
      z-index: 40;

      /* Galaxy S8 */
      @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
        width: 43%;
      }

      /* iPad */
      @media screen and (min-device-height: 700px) {
        top: 0%;
      }

      .next-button{
        float: right;
        z-index: 50;
      }
    }
  }

  .cena-activity{
    
    .text-activity{
      width: 45%;
      p{
        color: #bf3924;
        font-size: 2em;
        margin-top: 15%;
        margin-left: 12%;
      }
    }

    .container1{
      position: fixed;
      bottom: 6%;
      left: 58%;
      z-index: 10;

      img {
        width: 33%;
      }
    }
    .container2{
      border: 3px dashed #bf3924;
      z-index: 50;
      position: fixed;
      top: 8%;
      right: 10%;
      width: 50px;
      height: 50px;

      img {
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        transform: scaleX(-1);
        width: 50px;
      }
    }

    /* Galaxy S8 */
    @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
      .container1{
        bottom: 3%;
      }
    }

    /* Nexus 7 */
    @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
      .container1{
        img {
          width: 50%;
        }
      }
      .container2{
        width: 60px;
        height: 60px;
        top: 10%;
        right: 9%;
      }
    }

    /* iPad */
    @media screen and (min-device-height: 700px) {
      .container1{
        img {
          width: 66%;
        }
      }
      .container2{
        width: 70px;
        height: 70px;
        top: 10%;
        right: 3%;
      }
    }
  }
}

.bg-front{
  background-image: url("../assets/imgs/cena_nepal_monte/front_om_nepal.png");
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 30;
  pointer-events: none;
}