<ion-content padding class="bg-image4">
    <div [style.backgroundImage]="'url(' + animaOmSrc + ')'" class="cena4-content" [hidden]="!isFirstReading">
        <div class="text-box">
            <p>
                - UMA VACA SEQUESTRADA? AQUI NA ÍNDIA?! - PERGUNTA OM. - MAS AQUI ELAS SÃO SAGRADAS! EXISTE OUTRO LUGAR ONDE A PROIBIÇÃO DE COMER CARNE É MAIS RIGOROSA QUE NA ÍNDIA: O NEPAL. É UM PAÍS MONTANHOSO, NA CORDILHEIRA DO HIMALAIA, ONDE FICA A MONTANHA MAIS ALTA DO MUNDO: O EVEREST. TERIA A VACA SIDO LEVADA PARA LÁ?
            </p>
            <button class="next-button" (click)="next()" ion-button clear></button>
        </div>
    </div>
    <div class="cena-activity" [hidden]="isFirstReading">
        <div class="text-activity">
            <p>
                ARRASTE OM ATÉ O TOPO DO EVEREST PARA ELE CHEGAR AO NEPAL.
            </p>
        </div>
        <div id="container1" [dragula]='"first-bag"' [dragulaModel]="q1" class="container1">
            <img *ngFor="let item of q1" [class]="item" [src]="dragOmImageSrc" 
                (touchstart)="willDragOm()" (touchend)="droppedOm()"/>
        </div>
        <div id="container2" [dragula]='"first-bag"' [dragulaModel]="q2" class="container2">
            <img *ngFor="let item of q2" [class]="item" [src]="dragOmImageSrc"/>
        </div>
        
    </div>
    <div class="bg-front"></div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page4Reading1>
        <source src="assets/audio/telas/Tela_4.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
    <audio #page4Reading2>
        <source src="assets/audio/telas/Tela_5.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  