<ion-content [style.backgroundImage]="'url(' + animaBoiSrc + ')'" padding class="bg-image10">
    <div class="text-box-blue">
        <p>
            O BUMBA MEU BOI VEM DA HISTÓRIA DA ESCRAVA CATIRINA. ELA ESTAVA GRÁVIDA E COM DESEJO DE COMER LÍNGUA DE BOI. ENTÃO, O MARIDO DELA MATOU O BOI FAVORITO DO SEU PATRÃO PARA FORRAR O BUCHO DA ESPOSA. QUANDO DESCOBRIU, O PATRÃO CHOROU OCEANOS DE LÁGRIMAS. MAS, NO FINAL, RESSUSCITARAM O BOIZINHO COM SOPROS EM SEU RABO E TUDO FICOU BEM.
        </p>
    </div>
    <!-- <div  class="anima-boi-bumba"></div> -->
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page10Reading>
        <source src="assets/audio/telas/Tela_10.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  