.bg-image10 {
  // background-image: url("../assets/imgs/cena_boi/maranhao-BG.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

  .text-box-blue{
    width: 50%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 30;
  }

  /* Galaxy S8 */
  @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
    .text-box-blue{
      width: 43%;
    }
  }

  /* Nexus 7 */
  @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
    .text-box-blue{
      top: 3%;
      padding: 5% 4%;
    }
  }

  /* iPad */
  @media screen and (min-device-height: 700px) {
    .text-box-blue{
      top: 0;
      padding: 10% 4%;
    }
  }
}