.bg-image5 {
  background-image: url("../assets/imgs/cena_bilhete-nepal/close-nepal-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

  .om-reading {
    // background-image: url("../assets/imgs/cena_bilhete-nepal/close-nepal-om.gif");
    background-repeat: no-repeat;
    background-position: bottom;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
    width: 45%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
  }

  .text-box{
    width: 50%;
    height: 90%;
    position: absolute;
    top: 6%;
    left: 4%;
    z-index: 10;

    /* Android */
    @media screen and (max-device-height: 480px) {
      width: 49%;
      padding-top: 5%;
    }

    /* Galaxy S8 */
    @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
      width: 42%;
      padding-top: 5%;
    }

    /* Nexus 7 */
    @media screen and (min-device-height: 500px) and (max-device-height: 700px) {
      // width: 42%;
      padding-top: 8%;
    }

    p{
      margin: 0;
    }
  }
}