<ion-content padding class="bg-image5">
    <div class="text-box">
        <p>
            UAU! OM ACHOU UM BILHETE SECRETO NO TOPO DO EVEREST. QUER SE ARRISCAR A ESCALAR A MONTANHA MAIS ALTA DO MUNDO PARA DESCOBRIR UMA PISTA SOBRE O DESTINO DA VACA? PARA ISSO, HÁ UMA LISTA DE EQUIPAMENTOS. PARA VOCÊ SUBIR NA MONTANHA E SE ENCONTRAR COM OM, DEVE JUNTAR OS OBJETOS COM AS LETRAS CERTAS. VAMOS LÁ?
        </p>
    </div>
    <div [style.backgroundImage]="'url(' + animaOmReadingSrc + ')'" class="om-reading"></div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page5Reading>
        <source src="assets/audio/telas/Tela_6.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  