page-home {
    .content-body{
        background-image: url("../assets/imgs/capa.jpg");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .anima-next-page{
        // background-image: url("../assets/imgs/botao-proxima-pagina.gif");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        width: 100%;
        height: 100%;
    }
}
