<ion-content padding [style.backgroundImage]="'url(' + animaFacaSrc + ')'" class="bg-image3">
    <div>
        <p class="text1">
            MAS E AGORA, O QUE ACONTECEU COM A POBRE VACA SAGRADA?
        </p>
    </div>
    <div>
        <p class="text2">
            SERÁ QUE A VACA ENTROU NA FACA?
        </p>
    </div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page3Reading>
        <source src="assets/audio/telas/Tela_3.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  