.bg-image3 {
    // background-image: url("../assets/imgs/generic_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    .text1{
      font-size: 1em;
      margin-top: 6%;
      width: 100%;
      height: 35%;
      text-align: center;
    }
    
    .text2{
      margin-top: 6%;
      margin-bottom: 4%;
      width: 100%;
      height: 20%;
      color: #bf3924;
      font-size: 2em;
      text-align: center;
      margin: 10px;
    }
}

.anima-faca {
  // background-image: url("../assets/imgs/cena3/bg-cena.png");
  background-color: blue;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 60%
}