<ion-content padding class="bg-image1" overflow-scroll="false">
    <div [style.backgroundImage]="'url(' + animaVacaSrc + ')'" class="anima-vaca"> 
        <div [style.backgroundImage]="'url(' + animaSadhuSrc + ')'" class="anima-sadhu"> 
            <div class="text-box">
                <p>
                    AS AUTORIDADES INDIANAS ESTÃO EM DESESPERO! UMA VACA SAGRADA DESAPARECEU E A PRINCIPAL SUSPEITA É QUE ELA TENHA SIDO SEQUESTRADA. VOCÊ SABIA, QUE PARA OS SEGUIDORES DO HINDUÍSMO, A MAIOR RELIGIÃO DA ÍNDIA, A VACA É UM SER SAGRADO? SEU LEITE, SEU XIXI E, ATÉ, O SEU COCÔ SÃO USADOS EM RITUAIS DE PURIFICAÇÃO. QUEM SEGUE ESSA RELIGIÃO NÃO PODE COMER BIFE, HAMBÚRGUER E NENHUMA COMIDA FEITA DE CARNE BOVINA. 
                </p>
            </div>
        </div>
    </div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page1Reading>
        <source src="assets/audio/telas/Tela_1.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  