.bg-image1 {
  background-image: url("../assets/imgs/cena1/BG_india_vaca.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

  .anima-vaca {
    // background-image: url("../assets/imgs/cena1/india_vaca.gif");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  
    .anima-sadhu {
      // background-image: url("../assets/imgs/cena1/india_sadhu.gif");
      background-repeat: no-repeat;
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 20;
  
      .text-box{
        width: 50%;
        height: 96%;
        position: absolute;
        top: 2%;
        left: 4%;
        z-index: 30;

        /* Galaxy S8 */
        @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
          width: 45%;
        }
  
        p {
          font-size: 1em;
        }
      }
    }
  }
}

