.bg-image8 {
  background-image: url("../assets/imgs/generic_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

  .cena-content{
    width: 100%;
    height: 100%;
    
    .text1{
      padding: 2% 5%;
      height: 20%;
    }

    .cena-activity {
      width: 100%;
      height: 80%;
      // text-align: center;
  
      .bilhete, .teclado{
        background-repeat: no-repeat;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        // display: inline-block;
        position: absolute;
      }
  
      .bilhete {
        background-image: url("../assets/imgs/bilhete_maquina/bilhete.png");
        background-position: center;
        width: 50%;
        height: 75%;
        padding: 5% 1% 0 1%;
        bottom: 0;
        left: 5%;
        z-index: 10;
  
        .text-bilhete{
          margin: 15px;

          p {
            color: #bf3924;
            font-size: 1.2em;
            text-align: left;
            margin: 0;
          }

          .letter{
            color: #6a200e;
          }

          .middle-letter {
            margin-left: -4px;
          }

          .blank-letter {
            margin-left: -3%;
            // background-image: url("../assets/imgs/bilhete_maquina/bgLetter.png");
            background-position: top;
            background-repeat: no-repeat;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            background-size: 100%;
            z-index: 20;
          }

          .blink-cursor {
            color: #2E3D48;
            -webkit-animation: 1s blink step-end infinite;
            -moz-animation: 1s blink step-end infinite;
            animation: 1s blink step-end infinite;
            z-index: 500;
          }

          span {
            font-size: 1em;
            white-space: nowrap;
          }
        }
  
        .audio-button {
          position: relative;
          float: right;
        }
      }
  
      .teclado{
        background-image: url("../assets/imgs/bilhete_maquina/maquina_bilhete.png");
        background-position: bottom;
        width: 38%;
        height: 100%;
        padding-top: 9%;
        bottom: 0;
        right: 4%;
  
        .first-column, .second-column{
          // display: inline-block;
          width: 40%;
          position: absolute;
          bottom: 0;
        }

        .first-column{
          left: 7%;
        }

        .second-column{
          left: 41%;
        }

        .botao-teclado{
          width: 100%;
          display: block;
          margin-top: -12%;

        }
      }
    }
  }

  /* Galaxy S8 */
  @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
    .cena-content{
      .cena-activity{
        .bilhete{
          padding: 2% 1% 0 3%;
        }
      }
    }
  }

  /* Nexus 7 */
  @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
    .cena-content{
      .cena-activity{
        .bilhete{
          padding: 7% 1% 0 3%;
        }
      }
    }
  }

  /* iPad */
  @media screen and (min-device-height: 700px) {
    .cena-content{
      .text1{
        padding: 4% 5%;
      }
      .cena-activity{
        .bilhete{
          padding: 12% 1% 0 3%;
        }
      }
    }
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
}