<ion-content padding class="bg-image8">
    <div class="cena-content">
        <div class="text1">
            <p>
                UAU, O BILHETE ACHADO POR OM REVELA ONDE A VACA SAGRADA ESTÁ. SERÁ QUE ELA FOI MESMO SEQUESTRADA? AJUDE OM A DECIFRAR O BILHETE!
            </p>
        </div>
        <div class="cena-activity">
            <div class="bilhete">
                <div class="text-bilhete">
                <p>
                    <span *ngIf="answers.field=='voces'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.voces==='V','blank-letter':answers.field=='voces'}"
                        [style.backgroundImage]="answers.field=='voces' ? 'url(' + bgLetterSrc + ')' : none">{{answers.voces}}</span>OCÊS  NÃO 
                    
                    <span *ngIf="answers.field=='precisam'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.precisam==='P','blank-letter':answers.field=='precisam'}"
                        [style.backgroundImage]="answers.field=='precisam' ? 'url(' + bgLetterSrc + ')' : none">{{answers.precisam}}</span>RECISAM  SE 
                </p>

                <p>
                    <span>
                        <span *ngIf="answers.field=='preocupar1'" class="blink-cursor">|</span>
                        <span [ngClass]="{'letter':answers.preocupar1==='P','blank-letter':answers.field=='preocupar1'}"
                            [style.backgroundImage]="answers.field=='preocupar1' ? 'url(' + bgLetterSrc + ')' : none">{{answers.preocupar1}}</span>REOCU
                        <span *ngIf="answers.field=='preocupar2'" class="blink-cursor middle-letter">|</span>
                        <span [ngClass]="{'letter':answers.preocupar2==='P','blank-letter':answers.field=='preocupar2'}" class="middle-letter"
                            [style.backgroundImage]="answers.field=='preocupar2' ? 'url(' + bgLetterSrc + ')' : none">{{answers.preocupar2}}</span>AR  
                    </span>
                    
                    <span *ngIf="answers.field=='comigo'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.comigo==='C','blank-letter':answers.field=='comigo'}"
                        [style.backgroundImage]="answers.field=='comigo' ? 'url(' + bgLetterSrc + ')' : none">{{answers.comigo}}</span>OMIGO.  ES
                    
                    <span *ngIf="answers.field=='estou'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.estou==='T','blank-letter':answers.field=='estou'}" class="middle-letter"
                    [style.backgroundImage]="answers.field=='estou' ? 'url(' + bgLetterSrc + ')' : none">{{answers.estou}}</span>OU 
                </p>

                <p>
                    <span *ngIf="answers.field=='bem'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.bem==='B','blank-letter':answers.field=='bem'}"
                        [style.backgroundImage]="answers.field=='bem' ? 'url(' + bgLetterSrc + ')' : none">{{answers.bem}}</span>EM. 
                    
                    <span *ngIf="answers.field=='fui'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.fui==='F','blank-letter':answers.field=='fui'}"
                        [style.backgroundImage]="answers.field=='fui' ? 'url(' + bgLetterSrc + ')' : none">{{answers.fui}}</span>UI  EN
                    
                    <span>
                        <span *ngIf="answers.field=='encontrar1'" class="blink-cursor">|</span>
                        <span [ngClass]="{'letter':answers.encontrar1==='C','blank-letter':answers.field=='encontrar1'}" class="middle-letter"
                            [style.backgroundImage]="answers.field=='encontrar1' ? 'url(' + bgLetterSrc + ')' : none">{{answers.encontrar1}}</span>ON
                        <span *ngIf="answers.field=='encontrar2'" class="blink-cursor">|</span>
                        <span [ngClass]="{'letter':answers.encontrar2==='T','blank-letter':answers.field=='encontrar2'}" class="middle-letter"
                            [style.backgroundImage]="answers.field=='encontrar2' ? 'url(' + bgLetterSrc + ')' : none">{{answers.encontrar2}}</span>RAR  MEU 
                    </span>
                </p>
                    
                <p>
                    <span>
                        <span *ngIf="answers.field=='grande1'" class="blink-cursor">|</span>
                        <span [ngClass]="{'letter':answers.grande1==='G','blank-letter':answers.field=='grande1'}"
                            [style.backgroundImage]="answers.field=='grande1' ? 'url(' + bgLetterSrc + ')' : none">{{answers.grande1}}</span>RAN
                        <span *ngIf="answers.field=='grande2'" class="blink-cursor">|</span>
                        <span [ngClass]="{'letter':answers.grande2==='D','blank-letter':answers.field=='grande2'}" class="middle-letter"
                            [style.backgroundImage]="answers.field=='grande2' ? 'url(' + bgLetterSrc + ')' : none">{{answers.grande2}}</span>E  AMOR  NO 
                    </span>
                    
                    <span *ngIf="answers.field=='bumba'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.bumba==='B','blank-letter':answers.field=='bumba'}"
                        [style.backgroundImage]="answers.field=='bumba' ? 'url(' + bgLetterSrc + ')' : none">{{answers.bumba}}</span>UMBA  MEU 
                </p>

                <p>
                    <span *ngIf="answers.field=='boi'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.boi==='B','blank-letter':answers.field=='boi'}"
                        [style.backgroundImage]="answers.field=='boi' ? 'url(' + bgLetterSrc + ')' : none">{{answers.boi}}</span>OI  DO  
                    
                    <span *ngIf="answers.field=='brasil'" class="blink-cursor">|</span>
                    <span [ngClass]="{'letter':answers.brasil==='B','blank-letter':answers.field=='brasil'}"
                        [style.backgroundImage]="answers.field=='brasil' ? 'url(' + bgLetterSrc + ')' : none">{{answers.brasil}}</span>RASIL.
                </p>
            </div>
                <button [style.backgroundImage]="'url(' + btnAudioBilheteSrc + ')'" class="audio-button" (click)="audioHelp()" ion-button clear></button>
            </div>
            <div class="teclado">
                <div class="first-column">
                    <img [src]="btnSrc.V" class="botao-teclado btnV" 
                        (touchstart)="btnPressed('V')" (touchend)="btnReleased('V')"/>
                    <img [src]="btnSrc.P" class="botao-teclado btnP" 
                        (touchstart)="btnPressed('P')" (touchend)="btnReleased('P')"/>
                    <img [src]="btnSrc.T" class="botao-teclado btnT" 
                        (touchstart)="btnPressed('T')" (touchend)="btnReleased('T')"/>
                    <img [src]="btnSrc.C" class="botao-teclado"
                        (touchstart)="btnPressed('C')" (touchend)="btnReleased('C')"/>
                </div>
                <div class="second-column">
                    <img [src]="btnSrc.F" class="botao-teclado"
                        (touchstart)="btnPressed('F')" (touchend)="btnReleased('F')"/>
                    <img [src]="btnSrc.B" class="botao-teclado"
                        (touchstart)="btnPressed('B')" (touchend)="btnReleased('B')"/>
                    <img [src]="btnSrc.D" class="botao-teclado"
                        (touchstart)="btnPressed('D')" (touchend)="btnReleased('D')"/>
                    <img [src]="btnSrc.G" class="botao-teclado"
                        (touchstart)="btnPressed('G')" (touchend)="btnReleased('G')"/>
                </div>
            </div>
        </div>
        <button class="audio-button" (click)="audioReading()" ion-button clear></button>
    </div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div *ngIf="answers.field=='ok'" [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page8Reading>
        <source src="assets/audio/telas/Tela_8.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
    <audio #bilheteReading>
        <source src="assets/audio/telas/Bilhete.MP3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  