// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Lakki Reddy';
  src: url(../assets/fonts/LakkiReddy-Regular.ttf) format("ttf");
  src: url(../assets/fonts/LakkiReddy.eot);
  src: url(../assets/fonts/LakkiReddy.eot?#iefix) format('embedded-opentype'),
      url(../assets/fonts/LakkiReddy.woff2) format('woff2'),
      url(../assets/fonts/LakkiReddy.woff) format('woff'),
      url(../assets/fonts/LakkiReddy.svg#LakkiReddy) format('svg');;
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Lakki Reddy';
}

/* iphone 5, SE */
@media screen and (max-device-height: 320px){
  * {
    font-size: 12px;
  }
}

/* Android */
@media screen and (min-device-height: 360px){
  * {
    font-size: 14px;
  }
}

/* iPhone Plus */
@media screen and (min-device-height: 414px) and (max-device-height: 600px){
  * {
    font-size: 16px;
  }
}

/* Nexus 7 */
@media screen and (min-device-height: 600px) and (max-device-height: 700px) {
  * {
    font-size: 20px;
  }
}

/* iPad */
@media screen and (min-device-height: 700px) {
  * {
    font-size: 22px;
  }
}

.scroll-content{
  padding: 0 !important;
}

p {
  color: #912f3d;
}

.scroll-bar-indicator
{
	display: none;
}

.scroll-view.scroll-y, .scroll-view.scroll-x {
  overflow-x: hidden;  /* default value is 'scroll' */
}

.bg-default{
  background-image: url("../assets/imgs/generic_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.next-page-button{
  // background-image: url("../assets/imgs/botao-proxima-pagina-small.gif");
  background-repeat: no-repeat;
  background-position: top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  background-color: transparent;
  // background-color: red;
  cursor: pointer;
  width: 12%;
  height: 80%;
  margin: 0;
  position: fixed;
  right: 0; 
  top: 0;
  z-index: 1000;
}

.back-page-button{ 
  background-color: transparent; 
  // background-color: blue; 
  background-repeat: no-repeat; 
  background-position: top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  cursor: pointer; 
  width: 10%; 
  height: 100%; 
  margin: 0; 
  position: fixed; 
  left: 0;  
  top: 0; 
  z-index: 1000; 
} 

.text-box, 
.text-box-blue,
.audio-button,
.next-button,
.audio-objeto {
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}

.text-box{
  background-image: url("../assets/imgs/boxText.png");
  padding: 4%;

  /* Android */
  @media screen and (min-device-height: 360px){
    padding-top: 2%;
  }

  /* Nexus 7 */
  @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
    padding-top: 6%;
  }

  /* iPad */
  @media screen and (min-device-height: 700px) {
    padding-top: 12%;
  }
}

.text-box-blue{
  background-image: url("../assets/imgs/boxText-blue.png");
  padding: 2% 4%;
}

.audio-button{
  background-image: url("../assets/imgs/btAudio_large.png");
  width: 10%;
  height: 20%;
  position: fixed;
  right: 10px; 
  bottom: 4px;
  z-index: 1100;

  /* Galaxy S8 */
  @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
    width: 9%;
  }
}

.next-button {
  background-image: url("../assets/imgs/btnext_large.png");
  width: 50px;
  height: 50px;
}

#images_loader { 
  position:absolute; 
  left:-10000px; 
  width:100%; 
  height:100%; 
}