<ion-content padding class="bg-default cena-index">
  <div class="cena-content">
    <img src="assets/imgs/index_end/assets-Title.png"/>
    <button class="btn-read-book" (click)="goToNextPage()" ion-button clear></button>
    <button class="btn-credits" (click)="goToCreditsPage()" ion-button clear></button>
    <button class="btn-pdf" (click)="openPdf()" ion-button clear></button>
  </div>
</ion-content>
