.cena-index {
    text-align: center;
    width: 100%;
    height: 100%;

    .cena-content{
        display: inline-block;
        margin: auto;
        width: 50%;
        height: 100%;

        img{
            margin-top: 12%;
            width: 80%;

            /* Galaxy S8 */
            @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
                margin-top: 9%;
            }

            /* Nexus 7 */
            @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
                margin-top: 15%;
            }

            /* iPad */
            @media screen and (min-device-height: 700px) {
                margin-top: 20%;
            }
        }

        .btn-read-book, .btn-credits, .btn-pdf {
            background-repeat: no-repeat;
            background-color: transparent;
            background-position: center;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            background-size: 100%;
        }

        .btn-read-book{
            background-image: url("../assets/imgs/index_end/assets-btRead_large.png");
            width: 100%;
            height: 20%;
        }

        .btn-credits{
            background-image: url("../assets/imgs/index_end/assets-btCredits_large.png");
            width: 48%;
            height: 10%;

        }

        .btn-pdf{
            background-image: url("../assets/imgs/index_end/assets-btPDF_large.png");
            width: 48%;
            height: 10%;
        }
    }
}
