.bg-image11 {
  background-image: url("../assets/imgs/cena_vaca-boi/maranhao_frontal_vaca_boi.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: 0;

  .text-box-blue{
    width: 44%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 26%;
    z-index: 30;

    p {
      margin-top: 12%;
    }
  }

  /* Galaxy S8 */
  @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
    .text-box-blue{
      width: 39%;
      left: 28%;;
    }
  }

  /* Nexus 7 */
  @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
    .text-box-blue{
      top: 3%;
      padding: 5% 4%;
    }
  }

  /* iPad */
  @media screen and (min-device-height: 700px) {
    .text-box-blue{
      top: 0;
      padding: 10% 4%;
    }
  }
}

.anima-boi-vaca{
  // background-image: url("../assets/imgs/cena_vaca-boi/maranhao_frontal_vaca_boi.gif");
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 10;
}