<ion-content padding class="bg-image11">
    <div [style.backgroundImage]="'url(' + animaVacaBoiSrc + ')'" class="anima-boi-vaca">
        <div class="text-box-blue">
            <p>
                IXE, A VACA SAGRADA ESTÁ MESMO APAIXONADA PELO BUMBA MEU BOI! POR ISSO ELA FUGIU DA ÍNDIA ATRÁS DO SEU GRANDE AMOR. MAS O BUMBA MEU BOI É SÓ UMA FANTASIA. UMA BRINCADEIRA DE BRINCAR EM JUNHO E JULHO. DENTRO DELE TEM UM HOMEM QUE DANÇA - O MIOLO DE BOI. TADINHA DA VACA SAGRADA.
            </p>
        </div>
    </div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <div [style.backgroundImage]="'url(' + animaNextPageSrc + ')'" (click)="goToNextPage()" class="next-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page11Reading>
        <source src="assets/audio/telas/Tela_11.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  