<ion-content padding class="bg-image2">
    <div [style.backgroundImage]="'url(' + animaOmSrc + ')'" class="anima-om"></div>
    <div class="cena2-content">
        <div class="cena2-header">
            <p>
                VOCÊ PODERIA NOS AJUDAR COM ESSE MISTERIOSO SUMIÇO? O POLICIAL INDIANO OM QUER SABER QUAL FOI O ANIMAL QUE SUMIU. VOCÊ PODE COMPLETAR A PALAVRA PARA AJUDÁ-LO?
            </p>
        </div>
        <div class="activity-text">
            <p>
                ESCOLHA UMA DAS LETRAS ABAIXO E ARRASTE ATÉ O ESPAÇO VAZIO:
            </p>
        </div>
        <div class="drag-letters" [dragula]='"bag"' [dragulaModel]="q1">
            <div *ngFor="let item of q1" [id]="item.id" [class]="item.id">
                <img [src]="item.src" (touchstart)="letterClicking()">
            </div>
        </div>
        <div class="letter-box">
            <div id="container3" [dragula]='"bag"' [dragulaModel]="q2" class="container3">
                <div *ngFor="let item of q2" [id]="item.id" [class]="item.id">
                    <img [src]="item.src" (touchstart)="letterClicking()">
                </div>
            </div>
            <span>
                ACA
            </span>
        </div>
    </div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <div [style.backgroundImage]="'url(' + animaChuvaFacaSrc + ')'" class="anima-chuva-faca" [hidden]="!animaChuvaFacaSrc"></div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <audio #page2Reading>
        <source src="assets/audio/telas/Tela_2.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  