.bg-image2 {
    background-image: url("../assets/imgs/generic_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    z-index: 0;

    .anima-om{
        // background-image: url("../assets/imgs/cena2/om-close-cena2-tiny.gif");
        background-repeat: no-repeat;
        background-position: bottom;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        width: 34%;
        height: 100%;
        float: left;
        z-index: 10;
    }
    
    .cena2-content{
        width: 60%;
        height: 100%;
        padding-top: 12px;
        float: left;
        z-index: 10;
        color: #912f3d;
        z-index: 10;

        .cena2-header p{
            margin-top: 4%;
            margin-bottom: 0;
            font-size: 1em;
        }
    
        .activity-text{
            background-image: url("../assets/imgs/cena2/word-box-cena2.png");
            background-repeat: no-repeat;
            background-position: center;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            background-size: 100%;
            height: 26%;
            padding: 4% 6% 2% 8%;
    
            p{
                color: #bf3924;
                font-size: 1.2em;
                line-height: 1.1em;

                /* Nexus 7 */
                @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
                    margin-top: 30px;
                }

                /* iPad */
                @media screen and (min-device-height: 700px) {
                    margin-top: 40px;
                    line-height: 1.3em;
                }
            }
    
            .audio-button{
                position: absolute;
                top: 80%;
                left: 2%;
                z-index: 40;
            }
        }
    
        .drag-letters{
            width: 100%;
            height: 60px;
            text-align: center;
    
            .container1, .container2{
                display: inline-block;
                position: absolute;
            }
    
            .container1 img, .container2 img{
                width: 50px;
                z-index: 500;
            }

            .container1{
                margin-left: -56px;
            }
    
            .container2{
                margin-left: 12px;
            }

            // /* Android */
            // @media screen and (min-device-height: 360px){
            //     height: 90px;
                
            //     .container1 img, .container2 img{
            //         width: 80px;
            //         z-index: 500;
            //     }
    
            //     .container1{
            //         margin-left: -86px;
            //     }
        
            //     .container2{
            //         margin-left: 20px;
            //     }
            // }

            /* iPad */
            @media screen and (min-device-height: 700px) {
                height: 160px;
                
                .container1 img, .container2 img{
                    width: 120px;
                    z-index: 500;
                }
    
                .container1{
                    margin-left: -156px;
                }
        
                .container2{
                    margin-left: 26px;
                }
            }
        }
    
        .letter-box{
            width: 100%;
            height: 60px;
            text-align: center;
            padding-top: 4%;
    
            .container3{
                background-image: url("../assets/imgs/cena2/letter-box-cena2.png");
                background-repeat: no-repeat;
                background-position: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                background-size: cover;
                width: 50px;
                height: 52px;
                display: inline-block;
                position: absolute;
                margin-left: -16%;
            }
    
            span{
                font-size: 3.2em;
                color: #bf3924;
                display: inline-block;
                position: absolute;
                letter-spacing: 0.4em;
                margin-left: -4%;
            }

            // /* Android */
            // @media screen and (min-device-height: 360px){
            //     height: 60px;
            //     padding-top: 8%;

            //     .container3{
            //         width: 80px;
            //         height: 82px;
            //         margin-left: -20%;
            //     }
        
            //     span{
            //         font-size: 4.2em;
            //         letter-spacing: 0.4em;
            //         margin-left: -8%;
            //     }
            // }

            /* iPad */
            @media screen and (min-device-height: 700px) {
                height: 60px;
                padding-top: 8%;

                .container3{
                    width: 120px;
                    height: 122px;
                    margin-left: -25%;
                }
        
                span{
                    font-size: 5.2em;
                    letter-spacing: 0.4em;
                    margin-left: -10%;
                }
            }
        }
    }

    .anima-chuva-faca{
        // background-image: url("../assets/imgs/cena2/chuva-de-facas.gif");
        background-repeat: no-repeat;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        z-index: 1000;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}