<ion-content padding class="bg-default cena-end">
    <div class="cena-content">
        <img src="assets/imgs/index_end/assets-End.png"/>
        <button class="btn-end" (click)="goToNextPage()" ion-button clear></button>
    </div>
</ion-content>
  