.cena-end {
  text-align: center;
  width: 100%;
  height: 100%;

  .cena-content{
    display: inline-block;
    margin: auto;
    width: 50%;
    height: 100%;

    img{
      margin-top: 25%;
      margin-bottom: 5%;
      width: 80%;
    }

    .btn-end {
        background-repeat: no-repeat;
        background-color: transparent;
        background-position: center;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        background-image: url("../assets/imgs/index_end/assets-btagain_large.png");
        width: 100%;
        height: 20%;
    }
  }
}