.bg-image12 {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../assets/imgs/maquina_objetos/BG-maquina-premios.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  .anima-maquina {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
  }

  .text1{
    padding: 2% 12%;
    height: 20%;
  }

  .text2{
    padding: 0 12%;
    height: 32%;

    p {
      color: yellow;
    }
  }

  .cena-activity {

    .anima-vaca, .maquina-middle {
      position: absolute;
    }

    .anima-vaca {
      width: 32%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: bottom;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      background-size: 100%;
    }

    .maquina-middle {
      width: 44%;
      bottom: 0;
      left: 29%;

      .maquina-display {
        padding-left: 5%;
        text-align: center;
        height: 20%;

        p{
          margin: 0;
          font-size: 2.5em;
          letter-spacing: 0.4em;
        }
      }

      .keyboard{
        height: 80%;

        img{
          width: 22%;
          margin-left: 2%;
        }

        .btnDisabled {
          opacity: 0.5;
        }
      }
    }
  }

  /* Nexus 7 */
  @media screen and (min-device-height: 600px) and (max-device-height: 700px) {
    .cena-activity {
      .maquina-middle {
        .maquina-display{
          p{
            font-size: 3em;
          }
        }
        .keyboard{
          img{
            padding-bottom: 5%;
          }
        }
      }
    }
  }

  /* Galaxy S8 */
  @media screen and (max-device-height: 360px) and (min-device-width: 730px) {
    .text1{
      padding: 2% 2%;
      height: 15%;
    }
    .text2{
      padding: 0 7%;
      height: 32%;
    }
    .cena-activity {
      .maquina-middle {
        .keyboard{
          img{
            width: 16%;
            margin-left: 7%;
          }
        }
      }
    }
  }

  /* iPad */
  @media screen and (min-device-height: 700px) {
    .cena-activity {
      .maquina-middle {
        width: 51%;
        left: 26%;
        .maquina-display{
          p{
            font-size: 3.5em;
          }
        }
        .keyboard{
          img{
            width: 20%;
            margin-left: 4%;
            padding-bottom: 8%;
          }
        }
      }
    }
  }
}