<ion-content padding class="bg-image12">    
    <div class="text1">
        <p>ESSE FOI O FIM DO MISTÉRIO DO SUMIÇO DA VACA SAGRADA, QUE PELO BUMBA MEU BOI ESTAVA APAIXONADA.</p>
    </div>
    <div class="text2">
        <p>PARA TERMINAR A NOSSA HISTÓRIA, QUE TAL BRINCAR COM A MÁQUINA DE PALAVRAS? VOCÊ SÓ PRECISA JUNTAR UMA LETRA COM RESTO DA PALAVRA. REPARE QUE LETRAS COM SONS TÃO PARECIDOS COMO F, V E P FORMAM PALAVRAS DIFERENTES.</p>
    </div>
    <div class="cena-activity">
        <div [style.backgroundImage]="'url(' + animaVacaSrc + ')'" class="anima-vaca"></div>
        <div class="maquina-middle">
            <div class="maquina-display">
                <p>{{activity.displayText}}</p>
            </div>
            <div class="keyboard">
                <img [src]="btnSrc.B" class="btn-keyboard" [ngClass]="{'btnDisabled': !activity.keys.includes('B')}"
                    (touchstart)="btnPressed('B')" (touchend)="btnReleased('B')"/>
                <img [src]="btnSrc.V" class="btn-keyboard" [ngClass]="{'btnDisabled': !activity.keys.includes('V')}"
                    (touchstart)="btnPressed('V')" (touchend)="btnReleased('V')"/>
                <img [src]="btnSrc.P" class="btn-keyboard" [ngClass]="{'btnDisabled': !activity.keys.includes('P')}"
                    (touchstart)="btnPressed('P')" (touchend)="btnReleased('P')"/>
                <img [src]="btnSrc.F" class="btn-keyboard" [ngClass]="{'btnDisabled': !activity.keys.includes('F')}"
                    (touchstart)="btnPressed('F')" (touchend)="btnReleased('F')"/>
            </div>
        </div>        
    </div>
    <div [style.backgroundImage]="'url(' + animaMaquinaSrc + ')'" class="anima-maquina"></div>
    <div (click)="goToBackPage()" class="back-page-button"></div>
    <button [style.backgroundImage]="'url(' + btnAudioSrc + ')'" class="audio-button" (click)="audioReading()" ion-button clear></button>
    <audio #page12Reading>
        <source src="assets/audio/telas/Tela_12.mp3" type="audio/mpeg">
        Seu navegador não possui suporte ao elemento audio
    </audio>
</ion-content>
  